.card_consult {
  /* border: 2px solid red; */
  width: 10%;
  height: 50%;
}
.image {
  width: 60%;
}
.card_consult > p {
  margin-top: 1.2em;
  font-weight: bold;
}

.card_consult > p:nth-child(3) {
  font-weight: bold;
  color: #6cd6f6;
}
